body {
    --text-color: #5DEF92;
    --dark-text-color: #111827;
    --sub-text-color: #6B7280;
    --background-color: #ECFDF5;
    --transition-delay: 0.2s;
    

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    letter-spacing: -0.025em;
    text-align: left;
    font-family: Inter;
}

/* header section */

#main-body {
    background-color: #1F2937;
    color: #fff;
    padding: 60px 50px;
    width: 450px;
}

#main-body.light {
    background-color: var(--background-color);
    color: var(--dark-text-color);
    
}

#title {
    font-family: Karla;
    font-size: 40px;
    line-height: 45px;;
    margin-bottom: 0px;
}

.random-password-title {
    color: #55F991;
}

#subtitle {
    color: #D5D4D8;
    font-size: 20px;
    margin-bottom: 0;
}

#subtitle.light {
    color: var(--sub-text-color);
}

/* button section  */

#generator-btn {
    background-color: #10B981;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: 0px;
    margin-top: 50px;
}

/* password section */

#password-section {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    border-top: 1px solid #2F3E53;
    padding-top: 25px;
}

.password {
    background-color: #273549;
    padding: 10px 35px;
    color: #55F991;
    border-radius: 6px;
}

/* pill toggle */

.pill-container {
    width: 100%;
    height: 30px;
    background-color: #1F2937;
    display: flex;
    justify-content: end;
}

.pill-container.light {
    background-color: var(--background-color);
}

.pill {
    background-color: #1F2937;
    width: 50px;
    height: 25px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}

.pill::before {
    position: absolute;
    content: '';
    background-color: #10B981;
    width: 22px;
    height: 22px;
    border-radius: 200px;
    margin: 1.5px;
    transition: 0.2s;
}

input:checked + .pill {
    background-color: #ECFDF5;
}

input:checked + .pill::before {
    transform: translateX(25px);
}

input {
    display: none;
}